<div class="player-overview">

	<div class="name">
		<h1><%= "#{player.name}" %></h1>
		<p class="lead">
			<%= player.position %> |
			<%= player.team %> |
			<%= player.sweater %>
		</p>
	</div>
</div>