<div class="container">
	<h1><%= @player.name %></h1>
	<p class="lead">
		<%= @player.position %> |
		<%= @player.team %> |
		<%= @player.sweater %>
	</p>

	<h3>GAA</h3>

	<h3>Save Percentages</h3>

	<h3>Wins</h3>
</div>