<div class="container">
	<h1><%= @player.name %></h1>
	<p class="lead">
		<%= @player.position %> |
		<%= @player.team %> |
		<%= @player.sweater %>
	</p>

	<h3>Goals</h3>

	<h3>Assists</h3>

	<h3>Points</h3>
</div>