<div class="container footer">
	<hr />
	<p>
		&copy; Andrew Rempe and Chris Celi 2014
	</p>
	<ul class="list-inline">
		<li><a href="/about" class="footer">About Us</a></li>
		<li><a href="/contact" class="footer">Contact Us</a></li>
		<li><a href="http://github.com/arempe93/sexy_nhl_stats" target="_blank" class="footer"><i class="fa fa-github"></i>Github Repository</a></li>
		<li><a href="/legal" class="footer">Disclaimers</a></li>
	</ul>
</div>