<div class="container center">
	<ul class="list-inline">
		<li class="stat"><%= partial :'layouts/statistic', locals: {number: 15495, text: 'Stat records' } %></li>
		<li class="stat"><%= partial :'layouts/statistic', locals: {number: 700, text: 'Players kept track of' } %></li>
		<li class="stat"><%= partial :'layouts/statistic', locals: {number: 600, text: 'Game stats' } %></li>
	</ul>
</div>