<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><em>Sexy Stats</em></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="">Teams</a></li>
            <li><a href="">Players</a></li>
            <li><a href="">Leaders</a></li>
            <li class="donate"><a class="btn btn-primary" href="">Donate</a></li>
        </ul>
    </div>
</nav>