<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><em>Sexy Stats</em><br><small>By the fans, for the fans</small></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/teams">Teams</a></li>
            <li><a href="/players">Players</a></li>
            <li><a href="">Leaders</a></li>
            <li class="donate"><a class="btn btn-grey" href="">Donate</a></li>
        </ul>
    </div>
</nav>