<div class="team-overview">
	
	<div class="logo">
		<img src="http://cdn.nhle.com/nhl/images/logos/teams/<%= team.logo_name.downcase %>_logo.png">
	</div>

	<div class="name">
		<h1><%= "#{team.city} #{team.name}" %></h1>
		<p class="lead">
			<a href="">Stats</a> |
			<a href="">Schedule</a> |
			<a href="">Roster</a>
		</p>
	</div>
</div>