<tr>
	<td><img src="http://cdn.nhle.com/nhl/images/logos/teams/<%= team.logo_name.downcase %>_logo.png"></td>
	<td><%= "#{team.city} #{team.name}" %></td>
	<td><%= team.points %></td>
	<td><%= "#{team.wins}-#{team.losses}-#{team.ot}" %></td>
</tr>