<div class="jumbotron slim">
	<div class="container">
		<h1>
			<img src="http://cdn.nhle.com/nhl/images/logos/teams/<%= @team.light_logo_name.downcase %>_logo.png">
			<%= "#{@team.city} #{@team.name}" %>
		</h1>
	</div>
</div>