<!DOCTYPE html>
<html>
	<head>
		<title>Sexy NHL Stats</title>
		<link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' />
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' />
		<link rel="stylesheet" type="text/css" href="<%= url('/assets/css/global.css') %>" />

		<script src="<%= url('/assets/js/jquery.js') %>"></script>
		<script src="<%= url('/assets/js/modernizr.js') %>"></script>
		<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		<%= yield %>
	</body>
</html>