/* GLOBAL */

body {
	margin-top: 110px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

/* JUMBOTRON */
.jumbotron {

	background-color: #323a45;
	color: #ffffff;
}

/* NAVBAR */
.navbar {

	background-color: #ffffff;
	border: none;

	margin: 0;
	padding: 30px 0;
}

.navbar-brand {

	font-family: 'Pacifico', 'Open Sans', sans-serif;
	font-size: 28px;
}

.navbar-nav li.donate {

	padding-left: 50px;
}

.navbar-nav li.donate a.btn {

	color: #ffffff;

	padding: 6px 12px;
	margin-top: 9px;
}