<div class="container">
	<div class="jumbotron slim" style="text-align: center;">
		<h1>About Us</h1>
		<p>As developers and the background behind this project</p>
	</div>

	<div class="container">
		<p>Hello!</p>
	</div>
</div>