<div class="jumbotron slim" style="text-align: center;">
	<h1>About Us</h1>
	<p>As developers and the background behind this project</p>
</div>
<div class="container">
	<div class="container">
		<h1>Who we are</h1>
		<p>We are two web developers/ students from Maryland who are avid Caps fans and stat nuts. We don't just follow our Caps though, we like to call ourselves hockey fans and mock those bandwagoners who always seem to come around by April.</p>
		<h1>Why make this project</h1>
		<p>We thought the NHL could do a better job providing insight to their game. We stumbled upon some hidden files on their website and, well, hacked up a way for those files to be accessible to the public. The files (JSON) started as sloppy messes, released after each and every game of the season. We take them and store the important stats in our database to be accessed in a sensical (and sexual) manner.</p>
		<h1>About this project (technical)</h1>
		<p>This is a Sinatra project, almost entirely coded in Ruby. Look in the footer to see the source code on Github!</p>
	</div>
</div>