<div class="container">
	<div class="jumbotron slim" style="text-align: center;">
		<h1>Contact Us</h1>
		<p>Got any comments or suggestions for the site?</p>
	</div>

	<div class="container">
		<p>Hello!</p>
	</div>
</div>