<div class="jumbotron" style="text-align:center;">
	<div class="container">
		<h1>Better hockey stats for dedicated fans</h1>
		<p class="lead">Search for a team or player</p>

		<form method="POST" action="/search">
			<div class="input-group">
				<input type="text" name="query" id="query" class="form-control" placeholder="Search...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</form>
	</div>
</div>
<%= partial :'layouts/statistics', locals: { players: @players, teams: @teams, games: @games, skater_stats: @skater_stats, goalies: @goalies } %>