<div class="jumbotron slim" style="text-align: center;">
	<h1>Disclaimers</h1>
	<p>Whatever happened, we didn't do it</p>
</div>
<div class="container">
	<h1>Where the stats come from</h1>
	<p>We pull all of our stats from the NHL's official website. All of the files we use are publically accessible (if not somewhat hidden).</p>
</div>