<div class="container">
	<div class="jumbotron slim" style="text-align: center;">
		<h1>Disclaimers</h1>
		<p>Whatever happened, we didn't do it</p>
	</div>

	<div class="container">
		<p>Hello!</p>
	</div>
</div>