<div class="jumbotron slim" style="text-align: center;">
	<h1>Players</h1>
	<p class="lead">All <%= @players.count %> NHL players, with all their stats</p>
</div>

<div class="container">
	<div class="row">
		<% @players.each do |player| %>
			<div class="col-md-6">
				<%= partial :'players/player_overview', locals: { player: player } %>
			</div>
		<% end %>
	</div>
</div>
