<div class="jumbotron slim" style="text-align: center;">
	<h1>Teams</h1>
	<p class="lead">All 30 NHL teams, with all their data</p>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 style="margin: 35px 0;">
				<img title="Eastern" alt="Eastern" src="http://www.nhl.com/nhl/en/v3/images/standingsEastern.png">
				East Conference
			</h1>
			<%= partial :'teams/division_standings', locals: { division: 'Atlantic', color: 'danger' } %>
			<%= partial :'teams/division_standings', locals: { division: 'Metropolitan', color: 'danger' } %>

			<h1 style="margin: 35px 0;">
				<img title="Western" alt="Western" src="http://www.nhl.com/nhl/en/v3/images/standingsWestern.png">
				West Conference
			</h1>
			<%= partial :'teams/division_standings', locals: { division: 'Central', color: 'primary' } %>
			<%= partial :'teams/division_standings', locals: { division: 'Pacific', color: 'primary' } %>
		</div>
	</div>
</div>